<div class="col-12">
    <div class="card">
        <h2>GESTIÓN DE AÑOS LECTIVOS</h2>
        <p-toast key="tst"></p-toast>
        <p-tabView (onChange)="onTabChange($event)" styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="pi pi-save"></i>
                    <span>Registrar</span>
                </ng-template>
                <form [formGroup]="aLectivoForm" (ngSubmit)="saveALectivos()">
                    <div class="p-fluid p-formgrid grid">
                        <!-- Año lectivo -->
                        <div class="field col-12 md:col-6" [ngClass]="{ 'p-invalid': isFieldInvalid('aLectivo') }">
                            <label for="aLectivo">Año lectivo</label>
                            <p-autoComplete formControlName="aLectivo" placeholder="Seleccione un Año Lectivo"
                                [dropdown]="true" [suggestions]="filteredAnioLectivos"
                                (completeMethod)="filterALectivo($event)" field="nombre"></p-autoComplete>
                            <div *ngIf="isFieldInvalid('aLectivo')" class="p-error">El año lectivo es requerido.</div>
                        </div>

                        <!-- Curso -->
                        <div class="field col-12 md:col-6" [ngClass]="{ 'p-invalid': isFieldInvalid('curso') }">
                            <label for="curso">Cursos</label>
                            <p-autoComplete formControlName="curso" placeholder="Seleccione un Curso" [dropdown]="true"
                                [suggestions]="filteredCursos" (completeMethod)="filterCurso($event)"
                                field="nombre"></p-autoComplete>
                            <div *ngIf="isFieldInvalid('curso')" class="p-error">El curso es requerido.</div>
                        </div>

                        <!-- Materias -->
                        <div class="field col-12 md:col-6" [ngClass]="{ 'p-invalid': isFieldInvalid('materias') }">
                            <label for="materias">Materias</label>
                            <p-multiSelect [options]="materias" formControlName="materias" optionLabel="nombre"
                                placeholder="Seleccione Materias"></p-multiSelect>
                            <div *ngIf="isFieldInvalid('materias')" class="p-error">Las materias son requeridas.</div>
                        </div>

                        <!-- Botón de Guardar -->
                        <div class="field col-12 md:col-2" style="padding-top: 25px;">
                            <button pButton pRipple type="submit" label="Guardar"
                                class="p-button-rounded p-button-success" style="margin-top: 10px;"
                                [disabled]="aLectivoForm.invalid">
                            </button>
                        </div>
                    </div>
                </form>
            </p-tabPanel>
            <p-tabPanel header="Header II">
                <ng-template pTemplate="header">
                    <i class="pi pi-file-edit"></i>
                    <span>Actualizar</span>
                </ng-template>
                <form [formGroup]="aLectivoUpdForm" (ngSubmit)="updateALectivos()">
                    <div class="p-fluid p-formgrid grid">
                        <!-- Año lectivo -->
                        <div class="field col-12 md:col-6" [ngClass]="{ 'p-invalid': isFieldInvalid('aLectivoUpd') }">
                            <label for="aLectivo">Año lectivo</label>
                            <p-autoComplete formControlName="aLectivoUpd" placeholder="Seleccione un Año Lectivo"
                                [dropdown]="true" [suggestions]="filteredAnioLectivosUpd"
                                (completeMethod)="filterALectivoUpd($event)" field="nombre" (onSelect)="onSelectALectivo($event)"></p-autoComplete>
                            <div *ngIf="isFieldInvalid('aLectivoUpd')" class="p-error">El año lectivo es requerido.</div>
                        </div>

                        <!-- Curso -->
                        <div class="field col-12 md:col-6" [ngClass]="{ 'p-invalid': isFieldInvalid('cursoUpd') }">
                            <label for="curso">Cursos</label>
                            <p-autoComplete formControlName="cursoUpd" placeholder="Seleccione un Curso"
                                [dropdown]="true" [suggestions]="filteredCursosUpd" (onSelect)="onSelectCurso($event)" (completeMethod)="filterCursoUpd($event)"
                                field="nombre"></p-autoComplete>
                            <div *ngIf="isFieldInvalid('cursoUpd')" class="p-error">El curso es requerido.</div>
                        </div>

                        <!-- Materias -->
                        <div class="field col-12 md:col-6" [ngClass]="{ 'p-invalid': isFieldInvalid('materiasUpd') }">
                            <label for="materias">Materias</label>
                            <p-multiSelect [options]="materias" formControlName="materiasUpd" optionLabel="nombre"
                                placeholder="Seleccione Materias"></p-multiSelect>
                            <div *ngIf="isFieldInvalid('materiasUpd')" class="p-error">Las materias son requeridas.</div>
                        </div>

                        <!-- Botón de Guardar -->
                        <div class="field col-12 md:col-2" style="padding-top: 25px;">
                            <button pButton pRipple type="submit" label="Actualizar"
                                class="p-button-rounded p-button-success" style="margin-top: 10px;"
                                [disabled]="aLectivoUpdForm.invalid">
                            </button>
                        </div>
                    </div>
                </form>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>