<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.svg"
            alt="logo">
        <span>SAKAI</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu"
        [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <button (click)="consultarUsuarios = true; nombre = ''; usuarios = []" class="p-link layout-topbar-button">
            <i class="pi pi-id-card"></i>
            <span>Profile</span>
        </button>
    </div>
</div>

<p-dialog [(visible)]="consultarUsuarios" [style]="{width: '450px'}" header="Consultar Persona" [modal]="true"
    class="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="nombre">Nombre</label>
            <input placeholder="Ingrese Apellidos y Nombres" type="text" pInputText id="nombre" [(ngModel)]="nombre"
                required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !curso.nombre}" />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && !curso.nombre">Nombre es requerido.</small>
        </div>
        <!-- Boton para consultar-->
        <div class="field">
            <button pButton pRipple label="Consultar" class="p-button-text" (click)="consultarUsuario()"></button>
        </div>

        <div class="field">
            <div *ngIf="usuarios.length > 0; else noData">
                <ul>
                    <li *ngFor="let usuario of usuarios">
                        {{ usuario.identificacion}} - {{usuario.nombreComercial}}
                    </li>
                </ul>
            </div>

            <ng-template #noData>
                <p>No se encontraron usuarios.</p>
            </ng-template>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text"
            (click)="consultarUsuarios = false; nombre = '';usuarios = []"></button>
    </ng-template>
</p-dialog>

<p-toast key="tst"></p-toast>