<div class="col-12">
    <div class="card">
        <h2>GESTIÓN DE AÑO LECTIVOS</h2>
        <h5>REGISTRO</h5>
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label htmlFor="aLectivo">Nombre del Curso:</label>
                <input pInputText id="aLectivo" type="text" placeholder="Año lectivo 2000 - 2001"/>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="fInicio">Seleccione un Año Lectivo:</label>
                <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" field="name" [dropdown]="true">
                </p-autoComplete>
            </div>
            <div class="field col-12 md:col-3">
                <button pButton pRipple type="button" label="Guardar" class="p-button-rounded p-button-success"></button>
            </div>
        </div>
    </div>
</div>